body{
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     display: flex;
     flex-direction: column;
     gap: 30px;
}

header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 60px;
     background-color: #0f2920;
     color: #ffffffa3;
}

header nav{
     width: 200px;
     display: flex;
     justify-content: space-between;
}

 a{
     text-decoration: none;
     color: #ffffffa3;
     font-size: 20px;
}
main{
     min-height: 600px;
}

#fieldset{
     width: 80%;
    margin: auto;
    border: 5px solid #0f29208a;
    border-radius: 15px;
}

form{
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding: 20px;
}

input{
     height: 25px;
     padding: 5px;
     text-align: center;
     font-size: 16px;
     text-transform: capitalize;
     margin-left: 15px ;
}

select{
     padding: 5px;
     text-align: center;
     font-size: 14px;
     text-transform: capitalize;
     margin-left: 15px ;
}

.select-dep,
.levelContaner{
     display: flex;
     justify-content: space-around;
     width: 250px;
     align-items: center;
}



#btn{
     width: 100px;
     height: 35px;
     border: none;
     border-radius: 15px;
     font-size: 16px;
     cursor: pointer;
     padding: 10px;
     background-color: #0f2920;
     color: #ffffffec;
     


}
.cards1,.cards2,.cards3,.cards4{
     width: 80%;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start ;
     align-items: center;
     margin: auto;
     padding: 15px ;
     display: none;
}

.card{
     height: 350px;
     width: 300px;
     background-color: rgb(15, 41, 32);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #f2f2f2;
     padding: 25px;
     border-radius: 15px;
     margin: 30px auto;
}

img{
     width: 150px;
     border-radius: 50%;
          
}



footer{
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     background-color: #0f2920;
     color: #ffffffa3;
     padding: 10px 0;
}

footer a{
     padding-left: 20px;
}